{% extends 'base.html.twig' %}

{% block title %}Commande - Caftaned{% endblock %}

{% block content %}
    <h1>Récapitulatif de commande</h1>

    <div class="row">
        <div class="col-md-6">
            <strong style="padding-top:calc(.375rem + 1px);">Adresse de livraison</strong><br/>
            {{ delivery|raw }}
            <hr>
            <strong style="padding-top:calc(.375rem + 1px);">Transporteur</strong><br/>
            {{ carrier.name }}<br/>
            {{ carrier.description }}<br/>
            {{ carrier.price|number_format(2, ',','.') }} €<br/>
        </div> 

        <div class="col-md-6">
            <p style="padding-top:calc(.375rem + 1px); font-weight:bold">Récapitulatif des produits</p>
            {% set total = 0 %}
            {% for product in cart %}
                <div class="row mb-3">
                    <div class="col-md-3">
                        <img class="img-thumbnail" style="width:100px; height:100px" src="/uploads/files/{{product.product.image}}" alt="{{product.product.name}}">
                    </div>

                    <div class="col-md-3 my-auto">
                        {{product.product.name}}
                    </div>

                    <div class="col-md-2 my-auto">
                        {{(product.product.price / 100)|number_format(2, ',','.')}} €
                    </div>

                    <div class="col-md-2 my-auto">
                        x {{product.quantity}}
                    </div>

                    <div class="col-md-2 my-auto">
                        {{(product.quantity * product.product.price / 100)|number_format(2, ',','.')}} €
                    </div>
                </div>
                {% set total = total + (product.quantity * product.product.price) %}
            {% endfor %}
                <div class="row mb-3">
                    <div class="col-md-10 text-right">
                        <strong class="fw-bold">Sous-total </strong>
                    </div>

                    <div class="col-md-2 my-auto">
                        <strong class="fw-bold">{{(total / 100)|number_format(2, ',','.')}} €</strong>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-10 text-right">
                        <strong class="fw-bold">livraison </strong>
                    </div>

                    <div class="col-md-2 my-auto">
                        <strong class="fw-bold">{{carrier.price|number_format(2, ',','.')}} €</strong>
                    </div>
                </div>
                <hr>
                <div class="row mb-3">
                    <div class="col-md-10 text-right">
                        <strong class="fw-bold">Total de la commande </strong>
                    </div>

                    <div class="col-md-2 my-auto">
                        <strong class="fw-bold">{{((total / 100) + carrier.price)|number_format(2, ',','.')}} €</strong>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-12">
                        <a href="" class="btn btn-block btn-success">Payer {{((total / 100) + carrier.price)|number_format(2, ',','.')}} €</a>
                    </div>
                </div>
        </div>
    </div>  
{% endblock %}
